name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install Gradle 8.2
        run: |
          curl -sSL -o gradle.zip https://services.gradle.org/distributions/gradle-8.2-bin.zip
          unzip -q gradle.zip
          echo "$PWD/gradle-8.2/bin" >> $GITHUB_PATH

      - name: Build Debug APK
        run: gradle assembleDebug --stacktrace

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: AuryxGameNews-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk
